/*
Theme Name: <Project Name>
Theme URI: http://www.izsagroup.com
Author: Winston Alcantara
Author URI: http://www.winstonalcantara.com
Description: Main Stylesheet
*/

/* =Extra Large devices (large desktops, 1200px and up)
-------------------------------------------------------------- */

@media (min-width: 1200px) {
  /* =Header
  ---------------------------------------------------------- */

  /* =Navigation
  ---------------------------------------------------------- */

  /* =Menu
  ---------------------------------------------------------- */

  /* =Content
  ---------------------------------------------------------- */

  /* =Widget
  ---------------------------------------------------------- */

  /* =Footer
  ---------------------------------------------------------- */
}

/* =Large devices (desktops, 992px and up)
-------------------------------------------------------------- */

@media (min-width: 992px) {
  /* =Header
  ---------------------------------------------------------- */

  /* =Navigation
  ---------------------------------------------------------- */

  /* =Menu
  ---------------------------------------------------------- */

  /* =Content
  ---------------------------------------------------------- */

  /* =Widget
  ---------------------------------------------------------- */

  /* =Footer
  ---------------------------------------------------------- */
}

/* =Medium devices (tablets, 768px and up)
-------------------------------------------------------------- */

@media (min-width: 768px) {
  /* =Header
  ---------------------------------------------------------- */

  /* =Navigation
  ---------------------------------------------------------- */

  /* =Menu
  ---------------------------------------------------------- */

  /* =Content
  ---------------------------------------------------------- */

  /* =Widget
  ---------------------------------------------------------- */

  /* =Footer
  ---------------------------------------------------------- */
}

/* =Small devices (phones, less than 768px)
-------------------------------------------------------------- */

@media (min-width: 576px) {
  /* =Header
  ---------------------------------------------------------- */

  /* =Navigation
  ---------------------------------------------------------- */

  /* =Menu
  ---------------------------------------------------------- */

  /* =Content
  ---------------------------------------------------------- */

  /* =Widget
  ---------------------------------------------------------- */

  /* =Footer
  ---------------------------------------------------------- */
}

/* =Extra small devices (portrait phones, less than 576px)
    No media query for `xs` since this is the default in Bootstrap
-------------------------------------------------------------- */

